#containers {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-collapse: collapse;
  width: 80%;
  margin-top: 40px;
  margin-left: 100px;
  cursor:pointer;
}

#containers tr:nth-child(even) {
  background-color: #fdf7f7;
}
#containers tr:nth-child(odd) {
  background-color: #ffffff;
}

#containers tr:hover {
  background-color: fff6f6;
}

#containers th {
  padding-top: 10px;
  padding-bottom: 0.8rem;
  text-align: center;
  background-color: #040504;
  color: white;
}

input[type="text"] {
  padding: 10px;
  margin-top: 8px;
  font-size: 20px;
  border: 1.5px solid black;
  box-sizing: content-box;
}

#containers td {
  text-align: center;
}
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}
a {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: -12px;
  margin-left: 100px;
  width: 75%;
  margin-top: 30px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination {
  margin-top: 20px;
}

/* The Close Button */
close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  margin-left: 450px;
  margin-top: -230px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
}

.wrapper {
  display: grid;
  column-gap: 1px;
  row-gap: 1em;
}

.details {
  text-align: center;
  margin-top: -150px;
  margin-left: 100px;
}

.info {
  text-align: center;
  margin-left: center;

}

.email {
  margin-left: 100px;
}
.first {
  margin-left: -70px;
}
.last {
  margin-left: -80px;
}